/* Import the 'Kaisei Decol' font */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

/* Set the base font family */
body {
    font-family: 'Kaisei Decol', serif;
    font-size: large;
    text-align: center;
}

/* Set the base font color */
h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.25em;
    text-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

/* Set smaller text to a standard font for readability */
small {
    font-family: Arial, sans-serif;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

form label {
    margin-top: 10px;
    font-size: 1.5em;
}

form button {
    margin-top: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #3131ff;
    border-radius: 5px;
    background-color: #00f;
    transition: background 0.3s ease-in-out;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #99caff;
    color: black;
}