<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashLearn - Sets</title>
    <link rel="stylesheet" href=" {{ url_for('assets', path='base.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('assets', path='navbar.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('assets', path='browse.css') }} ">
</head>
<body>
    {% include 'navbar.html' %}
    {% if sets %}
        <div>
            <h1>My Sets</h1>
            <div class="browser-container">
                {% for set in sets %}
                    <div class="item-container" onclick="window.location.href='/{{ set.kind }}/{{ set.id }}'">
                        <h2 class="title">{{ set.title }}</h2>
                        <div class="button-container">
                            {% if set.kind == 'super_set' %}
                                <a href="/create_set/{{ set.id }}" class="button">Create Set</a>
                            {% else %}
                                <a href="/study/{{ set.id }}" class="button">Study</a>
                            {% endif %}
                            <a href="/delete_{{ set.kind }}/{{ set.id }}" class="delete-button">Delete</a>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h1>No Sets</h1>
            <p>You have not created any sets yet. <a href="/create_set">Create a Set</a></p>
        </div>
    {% endif %}
</html>
